
# Created by https://www.toptal.com/developers/gitignore/api/dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv

# End of https://www.toptal.com/developers/gitignore/api/dotenv

.vscode

.DS_Store